.border {
  border-style: solid;
  border-color: #FF0000;
}

.App {
  text-align: center;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  width: 200px;
}

.dense {
  margin-top: 10px;
}


menu {
  width: 200px;
}

.column {
  float: left;
  width: 50%;
}

.lineChart {
  display:inline-block;
  width: 90%;
  height: 100%;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



.header {
  background-color: #039be5;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logo {
  margin-left: 5%;
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.headerColumn {
  float: left;
  width: 33.33%;

}

.regBorder {

}

.headerBallonColumn {
  float: left;
  width: 33.33%;
  padding-left: 5%;
  padding-right: 5%;
  margin:0;
  border:0;
  padding-top: 1%;
}

.button {
  margin : 20px;
}

#top4ProductsDiv {
  width: 80%;
  margin: 0 auto;
}

#responseBox {
  text-align: left;

}

#loading {
  background: url('https://cdn.dribbble.com/users/25514/screenshots/1842762/graph-survey-platform-design-ux-interface-ramotion.gif') no-repeat center center;
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.productArrow {
  position: fixed;
  top: 50%;
  left: 50%;
}

.trigramButton {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 70%;
  height: 25px;
  cursor: pointer;

  margin-left: 13%;
  margin-bottom: 5%;
  border: 1px solid rgb(255,0,0);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: rgb(255,0,0);
  text-align: center;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

#overlay {
  position:fixed;top:0;right:0;bottom:0;left:0;
  z-index:999 !important;
  text-align: center;
  vertical-align: baseline;
  background: rgba(0,0,0,0.8) url(https://i.gifer.com/XOsX.gif) no-repeat 50% 50%;

}


.githubIcon{
  height: 30px;
  margin-right: 5px;
}

.Countdown{
  margin: 0px auto;
  padding-bottom: 0px;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 15px;
}

.trigramButton:hover {
  color: rgba(255,255,255,1);
  background: rgb(255,0,0);
}

.trigramButton:active {
  border: 2px solid rgba(33, 224, 163, 1);
  background: rgba(255,0,0, 1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.column {
  float: left;
  width: 50%;
}


.Main{
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.Main .header{
  display: flex;
  align-content: center;
}

.Main .title{
  align: left;
}

#main {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.searchBar{
  margin: auto;
  width: 70%;
  border-radius: 25px;

  padding: 20px;
}

.nameText {
  width:150%;
}

.roundCorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
}

.hozDisplay
{
  display: flex;
  align-items: center;
}
.verDisplay
{
  align-items:center;
}

.borderSolid {border-style: solid; border-color: red;}

.App-link {
  color: #61dafb;
}

#mainSection{
  padding: 5px;
}

.calendarPicker{
  background: rgb(250,250,250);
  border: 0;
}

#signaturesBigBox{
  width: 75%;
  margin-left: 12.5%;
  align-content: center;
  border-radius: 25px;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

#signature{
  border-radius: 25px;
  border: 2px solid #0000ff;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {position: absolute; margin: 0; width:100%; background: #ff0000; min-height: 60px; }

.white-box { width: 50px; height: 10px; margin-top: 50px; margin-left: auto; margin-right: auto;}

.signColumnStatus {
  float: left;
  width: 17.33%;
  padding: 10px;


}

.signColumnMiddle {
  float: left;
  width: 50.33%;
  padding: 10px;

}


.signColumnButtons {
  float: left;
  width: 28.33%;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;


}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#detailsBoxLeft {
  display: flex;
  margin-bottom: -5%;
}

#detailsBoxMiddle {
  display: flex;
  margin-bottom: -2%;
}

#detailsBoxRight {
  display: flex;
  margin-bottom: -5%;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
  font-size: 14px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: blue;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: blue;
  background-color: #eeeeee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: blue;
  border-color: blue;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 8px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.select-style {
  border: 1px solid #ccc;
  width: 120px;
  font-size: 16px;
  border-radius: 25px;
  overflow: hidden;
  background: #FAFAFA;

}
.select-item {
  border: 1px solid red;
  width: 120px;
  font-size: 16px;
  border-radius: 25px;
  overflow: hidden;
  background: #FAFAFA;

}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

#loading {
  background: url('https://acegif.com/wp-content/uploads/loading-9.gif') no-repeat center center;
  position: absolute;
  top: 10%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  display: none;
}

.deblacklistStatus{
  font-size: 18px;
  display: none;
}
